body{
    background-color: skyblue;
}
.top-box{
    margin: 40px;
}
.top-cloud{
    height: 100px;
    margin-left: 60%;

}
.title{
    text-align: center;
    padding: 20px;
    font-size: 2rem;
}
h1 {
    font-family: 'Sacramento', cursive;
}    
.bottom-cloud {
    height: 100px;
    margin-left: 20%;
}
.pro{
    color: chartreuse;
}
.mountain{
    text-align: center;
}
.mid-box{
    display: block;
    background-color: antiquewhite;
    text-align: center;
    margin: 20px;
    padding: 40px;
}
.pic{
    width: 250px;
    height: 250px;
    border-radius: 50%;
}
h2{
    font-family: 'Sacramento', cursive;
    font-size: 4rem;  
}
p{
    text-align: center;
    font-size: 2rem;
}
.skills{
    display: inline-block;
}
.sk{
    float: left;
    width: 100px;
    height: 100px;
    margin: 30px;
}
.para{
    float: left;
}

.contact{
    margin: 50px;
    text-align: center;
}
.cont{
    display: inline-block;
    background-color:#11999e;
    color: black;
    font-size: 2rem;
    border-radius: 8px;
    padding: 20px;
}
.bottom-box{
    margin: 50px;
    text-align: center;
    
}
.footer{
    text-decoration: none;
    display: inline-block;
    background-color: blue;
    color: white;
    padding: 20px;
    border-radius: 8px;
    font-size: 2rem;
}
.cp{
    display: inline-block;
}


